body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #f3f3f3;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#app #control-container {
    padding: 12px;
    background-color: white;
}
#app #three-container {
    flex: 1;
}
.mino-flex {
    display: flex;
    column-gap: 20px;
}